.space-block-left {
  height: 70vh;
  width: 20vw;
  background-color: lightblue;
}

.pin-test {
  height: 10vw;
  width: 10vw;
  background-color: orange;
}

#x-block {
  height: 100px;
  width: 100px;
  background: green;
}
