
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  perspective: 60vw;
  background: radial-gradient(ellipse at bottom, #1b2736 0%, #090A0F 100%);
}

.page-btn-container {
  position: absolute;
  top: 0;
}

.page-btn {
  z-index: 10;
}

/* #home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
  transition: opacity 1.2s;
  opacity: 1;
  z-index: 0;
} */

#current-page-p {
  position: fixed;
  top: 0;
  right: 5vw;
  color: white;
  z-index: 100;
}

.page {
  margin: 0;
}

#work {
  position: absolute;
  top: 0;
  /* left: 0; */
  /* bottom: 0; */
  height: 100%;
  width: 100%;
  background-color: forestgreen;
  transform: rotate3d(1,0,0,-180deg);
  transform-origin: top;
  transform-style: preserve-3d;
  transition: opacity 1.2s, transform 1.2s ease-in-out;
  z-index: 10;
}

#foop {
  position: fixed;
  bottom: 0;
  left: 45vw;
}

#contact {
  position: absolute;
  top: 0;
  /* left: 0; */
  /* bottom: 0; */
  transform: translate(100vw, 0);
  height: 100vh;
  width: 100vw;
  background-color: rebeccapurple;
  transition: opacity 1.2s, transform 1.2s ease-in-out;
  z-index: 10;
}

#about {
  position: absolute;
  top: 0;
  /* left: 0; */
  /* bottom: 0; */
  transform: rotate(180deg);
  transform-origin: bottom left;
  height: 100vh;
  width: 100vw;
  background-color: teal;
  transition: opacity 1.2s, transform 1.2s ease-in-out;
  z-index: 10;
}

.shift {
  display: none;
}
